<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Profile</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
          <a class="nav-link" routerLink="/upload-user-image">Upload Photo</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid pt-2 mb-5">
<div class="row col-12 mt-4">
<div class="card col-md-5 me-4" style="width: 20rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">{{userInfo.username}}</h5>
    <p class="card-text">{{userInfo.email}}</p>
    <p class="card-text">{{userInfo.phone}}</p>
    <button class="btn btn-primary justify-content-end"  (click)="openModal(userInfo._id)">Edit</button>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span style="color:grey;">Default Currency: </span><br> <span style="font-weight:bold;font-size:16px;">TND</span></li>
    <li class="list-group-item"><span style="color:grey;">Time Zine:</span><br>
      <span  style="font-weight:bold;font-size:14px;">(UTC+12:00) International Date Line West</span>
    </li>
    <li class="list-group-item"><span style="color:grey;">Date Format:</span> <br>
    <span  style="font-weight:bold;font-size:16px;">d/m/Y (17/08/2023)</span>
    </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link text-align-center text-decoration-none" style="color:red;">Cancel This Account</a>
  </div>
</div>
<div class="card col-md-7" >
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body row m-0">
    <div class="col-10">
<span style="color:grey;">Account Plan: </span><br> <span
    style="font-weight:bold;font-size:16px;">Free</span>
    <br><br>
    <span style="color:grey;">Expires On: </span><br> <span style="font-weight:bold;font-size:16px;">22/08/2023</span>
</div>
<div class="col-2">
    <a href="#/dashboard"><button class="btn btn-primary justify-content-end">Dashboard</button></a>
    </div>
  </div>


</div>
</div>
</div>

        <form>
<div id="Modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="name" name="name"  [(ngModel)]="userForm.username">
          </mat-form-field>
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="New Email"  name="email" [(ngModel)]="userForm.email" disabled>
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="phone"  name="phone" [(ngModel)]="userForm.phone">
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" name="password1" [(ngModel)]="userForm.password1">
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm Password " name="password2" [(ngModel)]="userForm.password2">
          </mat-form-field>

        <div *ngIf="userForm.submitted && userForm.controls.password2.errors?.mismatch">
          Passwords do not match.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>

        <button type="submit" class="btn btn-primary" (click)="updateProfile()" >Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
