<img style="width:100px;height:50px;position:absolute;
              top: 20px;
              left:20px;" src="../../../../assets/images/logo-no-background.png" />

<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">

      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">

          <c-card-body class="p-4">
            <form cForm [formGroup]="angForm">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" cFormControl placeholder="Username"  name="username" formControlName="username"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input autoComplete="email" cFormControl placeholder="Email"  name="email" formControlName="email"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input autoComplete="phone" cFormControl placeholder="Phone"  name="phone" formControlName="phone"/>
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" formControlName="password1" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password"  formControlName="password2" />
              </c-input-group>
              <div class="d-grid">
                <button (click)="onSignup()" cButton color="primary">Create Account</button>
              </div>
                <div routerLink="/login" class="d-grid mt-2">
                  <button  cButton color="secondary">Do You Have an Account ?</button>
                </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
