<div class="container">
  <div class="row text-center mt-2">
    <button mat-button class="btn btn-primary" (click)="openSupplierModal('')"><i class="bi bi-plus-circle me-2">Add
        Supplier</i></button>
  </div>
  <div class="row">
    <table class="table table-dark table-striped mt-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Services</th>
          <th scope="col">Actions</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of allSuppliers$ | async;let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{supplier.name}}</td>
          <td>{{supplier.address}}</td>
          <td>{{supplier.email}}</td>
          <td>{{supplier.contact}}</td>
          <td>{{supplier.service}}</td>
          <td>
            <button class="btn btn-primary me-2" (click)="openSupplierModal(supplier._id)"> <i
                class="bi bi-pencil me-2"></i>Edit</button>
            <button class="btn btn-danger" (click)="deleteSupplier(supplier._id)"> <i
                class="bi bi-trash me-2"></i>Delete</button>

            <!-- <a (click)="deleteSupplier()"> <i class="bi bi-trash"></i></a> -->
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>



<div id="suppliersModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{supplierModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Supplier Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="supplierForm.name" name="name">
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Supplier Address</mat-label>
            <input matInput  placeholder="Address" [(ngModel)]="supplierForm.address"
              name="address"/>
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Supplier Email</mat-label>
            <input matInput placeholder="Cost" [(ngModel)]="supplierForm.email" name="email">
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Supplier Contact</mat-label>
            <input matInput placeholder="contact" [(ngModel)]="supplierForm.contact" name="contact">
          </mat-form-field>

          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Services</mat-label>
            <input matInput placeholder="Service" [(ngModel)]="supplierForm.service" name="service">
          </mat-form-field>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" (click)="saveorupdate()">Save changes</button>
      </div>
    </div>
  </div>
</div>
