<div class="row">
<table class="table table-dark table-striped mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Phone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of allClients$ | async;let i = index">
        <th scope="row">{{i+1}}</th>
      <td>{{client.customerName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.address}}</td>
      <td>{{client.inputCity}}</td>
      <td>{{client.state}}</td>
      <td>{{client.inputZip}}</td>
      <td>{{client.contactNo}}</td>
      <td>
       <button class="btn btn-danger" (click)="deleteProduct(client._id)"> <i class="bi bi-trash me-2"></i>Delete</button>
       <!-- <a (click)="deleteProduct()"> <i class="bi bi-trash"></i></a> -->
      </td>
    </tr>
  </tbody>
</table>
</div>



<!-- <div id="productsModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{productModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Product Code</mat-label>
            <input  matInput placeholder="Code"
            [(ngModel)]="clientForm.code" name="code">
          </mat-form-field>
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input  matInput placeholder="Name"
            [(ngModel)]="clientForm.name" name="name">
          </mat-form-field>


          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>client Brand</mat-label>
            <input  matInput placeholder="Brand"
            [(ngModel)]="clientForm.brand" name="brand">
          </mat-form-field>
          <mat-form-field class="input-group mb-3">
            <mat-label>client Category</mat-label>
            <mat-select class="background-color-transparent"placeholder="Category"
            [(ngModel)]="clientForm.category" name="category">
              <mat-option value="Phone">Phone</mat-option>
              <mat-option value="Electronic">Electronic</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="input-group mb-3" appearance="outline">
            <mat-label>client Cost</mat-label>
            <input  matInput placeholder="Cost"
            [(ngModel)]="clientForm.cost" name="cost">
          </mat-form-field>
          <mat-form-field  class="input-group mb-3" appearance="outline">
            <mat-label>client Price</mat-label>
            <input matInput placeholder="Price"
            [(ngModel)]="clientForm.price" name="price">
          </mat-form-field>
          <mat-form-field  class="input-group mb-3" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input  matInput placeholder="Quantity"
            [(ngModel)]="clientForm.quantity" name="quantity">
          </mat-form-field>
          <mat-form-field  class="input-group mb-3" appearance="outline">
            <mat-label>Unit</mat-label>
            <input  matInput placeholder="Unit"
            [(ngModel)]="clientForm.unit" name="unit">
          </mat-form-field>
          <mat-form-field  class="input-group mb-3" appearance="outline">
            <mat-label>Alert Quantity</mat-label>
            <input matInput placeholder="Alert"
            [(ngModel)]="productForm.alert_quantity" name="alert_quantity">
          </mat-form-field>

          <div class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04"  (change)="onFileSelected($event)">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="uploadImage()">Upload Image</button>
  </div>
</div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="button" class="btn btn-primary" (click)="saveorupdate()">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
