<a class="m-4 btn btn-primary" href="/">Home</a>
<a class="m-4 btn btn-success" href="#/manage-posts">Add Post</a>

<div class="m-4">
  <app-widgets-dropdown></app-widgets-dropdown>
  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Statistics</c-card-header>
        <c-card-body>
          <c-row>
            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6">
                  <div
                    class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                  >
                    <div class="text-medium-emphasis small">New Posts</div>
                    <div class="fs-5 fw-semibold">0</div>
                  </div>
                </c-col>
                <c-col sm="6">
                  <div
                    class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                  >
                    <div class="text-medium-emphasis small">Old Posts</div>
                    <div class="fs-5 fw-semibold">0</div>
                  </div>
                </c-col>
              </c-row>

              <hr class="mt-0" />

              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Monday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="20"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="80"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Tuesday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="20"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="80"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Wednesday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="30"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="70"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Thursday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="50"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="50"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Friday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="60"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="40"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Saturday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="50"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="50"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-4">
                <div class="progress-group-prepend">
                  <span class="text-medium-emphasis small">Sunday</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar color="info" [value]="50"></c-progress-bar>
                  </c-progress>
                  <c-progress thin>
                    <c-progress-bar
                      color="danger"
                      [value]="50"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="legend text-center" ngPreserveWhitespaces>
                <small>
                  <sup>
                    <span class="badge badge-pill badge-sm bg-info"
                      >&nbsp;</span
                    >
                  </sup>
                  <span>New Posts</span>
                  &nbsp;&nbsp;
                  <sup>
                    <span class="badge badge-pill badge-sm bg-danger"
                      >&nbsp;</span
                    >
                  </sup>
                  <span>Old Posts</span>
                </small>
              </div>
            </c-col>

            <c-col md="6" xl="6" xs="12">
              <c-row>
                <c-col sm="6">
                  <div
                    class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                  >
                    <div class="text-medium-emphasis small">Public Posts</div>
                    <div class="fs-5 fw-semibold">0</div>
                  </div>
                </c-col>
                <c-col sm="6">
                  <div
                    class="border-start border-start-4 border-start-success py-1 px-3 mb-3"
                  >
                    <div class="text-medium-emphasis small">Private Posts</div>
                    <div class="fs-5 fw-semibold">0</div>
                  </div>
                </c-col>
              </c-row>

              <hr class="mt-0" />

              <div class="progress-group mb-4">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilPeople"></svg>
                  <span>Public Posts</span>
                  <span class="ms-auto font-semibold">30 %</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar
                      color="warning"
                      [value]="30"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>
              <div class="progress-group mb-5">
                <div class="progress-group-header">
                  <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                  <span>Private Posts</span>
                  <span class="ms-auto font-semibold">70%</span>
                </div>
                <div class="progress-group-bars">
                  <c-progress thin>
                    <c-progress-bar
                      color="warning"
                      [value]="70"
                    ></c-progress-bar>
                  </c-progress>
                </div>
              </div>

              <div class="divider d-flex justify-content-center">
                <button
                  cButton
                  class="text-muted btn-link"
                  color="transparent"
                  size="sm"
                  type="button"
                >
                  <svg cIcon name="cil-options"></svg>
                </button>
              </div>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header>Posts</c-card-header>
        <c-card-body>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead cTableColor="light">
              <tr>
                <th class="text-center">
                  <svg cIcon name="cilPeople"></svg>
                </th>
                <th>Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Message</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-col xs="12" lg="12">
    <c-card class="mb-4">
      <c-card-header> Bar Chart </c-card-header>
      <c-card-body>
        <c-chart type="bar" [data]="chartBarData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</div>
