<body class="main-content light-mode">
  <header class="container header active" id="home">
    <div class="header-content">
      <div class="left-header">
        <img
          style="
            width: 100px;
            height: 50px;
            position: absolute;
            top: 10px;
            left: 10px;
          "
          src="../../../../assets/images/logo-no-background.png"
        />

        <div class="h-shape"></div>

        <div class="image" style="background-size: contain">
          <img
            src="../../../../assets/images/post.png"
            style="background-size: contain"
            alt=""
          />
        </div>
      </div>
      <div class="right-header">
        <h1 class="name">Hi, Welcome to, <span>Blog MAIGEs.</span></h1>
        <p>
          "Our platform serves as a haven for curious minds, offering a diverse
          range of articles that spark contemplation, inspire creativity, and
          foster meaningful conversations. Join us on a journey of exploration
          and discovery as we delve into the depths of human intellect and
          imagination.."
        </p>
        <div class="btn-con">
          <a *ngIf="!isLoggedIn()" class="main-btn" href="#/login">
            <span class="btn-text">Sign In</span>
            <span class="btn-icon"><i class="fas fa-user"></i></span>
          </a>
          <a *ngIf="isLoggedIn()" class="main-btn" href="#/posts">
            <span class="btn-text">Dashboard</span>
            <span class="btn-icon"><i class="fas fa-user"></i></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="container" id="portfolio">
      <div class="main-title">
        <h2>
          About <span>Our Services</span><span class="bg-text">Our Work</span>
        </h2>
      </div>
      <p class="port-text">
        Here is some of our services that We've give to our customers.
      </p>
      <div class="portfolios">
        <div class="portfolio-item">
          <div class="image">
            <img src="../../../../assets/images/post.png" alt="" />
          </div>
          <div class="hover-items">
            <h3>Add Posts</h3>
            <div class="icons">
              <a href="#" class="icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-behance"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="image">
            <img src="../../../../assets/images/new-post.png" alt="" />
          </div>
          <div class="hover-items">
            <h3>Posts</h3>
            <div class="icons">
              <a href="#" class="icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-behance"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="portfolio-item">
          <div class="image">
            <img src="../../../../assets/images/manage-invoices.png" alt="" />
          </div>
          <div class="hover-items">
            <h3>Project Source</h3>
            <div class="icons">
              <a href="#" class="icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-behance"></i>
              </a>
              <a href="#" class="icon">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container" id="blogs">
      <div class="blogs-content">
        <div class="main-title">
          <h2>Our <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
        </div>
        <div class="blogs">
          <div class="blog" style="width: 40vh">
            <img class="" src="../../../assets/images/blog-img.png" alt="" />
            <div class="blog-text">
              <h4>How to add a blog</h4>
              <p>
                Login to Your Blog Website: Access the administrative section of
                your blog website where you can manage blog posts. This might
                involve logging in with your username and password. Navigate to
                the Blog Post Management Page: Find the section or page within
                your website's admin dashboard where you can create and manage
                blog posts. This is typically labeled as "Posts", "Blog", or
                "Manage Posts". Create a New Blog Post: Look for an option to
                add a new post. This could be a button labeled "Add New",
                "Create Post", or something similar. Click on this button to
                start creating a new blog post. Enter Blog Post Details: Fill
                out the necessary fields for your blog post. This usually
                includes a title, content (the main body of the post), author
                (which might be pre-filled if you're logged in), categories or
                tags (optional), and any other relevant information. Add Media
                (Optional): If your blog post includes images, videos, or other
                media, you can usually upload or embed them into the post. Look
                for options to add media files or insert images directly into
                the content area.
              </p>
            </div>
          </div>
          <div class="blog">
            <img
              src="../../../assets/images/bg.jpg"
              style="width: 40vh"
              alt=""
            />
            <div class="blog-text">
              <h4>Characteristics of a blog</h4>
              <p>
                Frequent Content Updates: Blogs are known for their regularly
                updated content. Unlike static websites, which may have content
                that remains unchanged for long periods, blog websites are
                frequently updated with new articles, posts, or entries.
                Chronological Presentation: Blog posts are usually displayed in
                reverse chronological order, with the most recent posts
                appearing at the top of the page. This allows visitors to see
                the newest content first and easily navigate through past posts.
                Content Categories or Tags: Blog websites often organize content
                into categories or assign tags to individual posts. This helps
                visitors find content on specific topics of interest and
                facilitates navigation within the site.
              </p>
            </div>
          </div>
          <div class="blog" style="width: 40vh">
            <img src="../../../../assets/images/bg-1.jpg" alt="" />
            <div class="blog-text">
              <h4>Private or public blog</h4>
              <p>
                The decision to make a blog private or public depends on the
                goals and intentions of the blogger, as well as the target
                audience and content of the blog. Here are some considerations
                for both private and public blogs: Private Blog: Restricted
                Access: A private blog is accessible only to a select group of
                individuals, typically those who have been invited or given
                permission by the blogger. This may include friends, family
                members, or members of a specific community or organization.
                Personal or Sensitive Content: Private blogs are often used for
                sharing personal thoughts, experiences, or sensitive information
                that the blogger prefers to keep within a limited audience. This
                could include personal diaries, family updates, or confidential
                discussions. Public Blog: Wide Audience Reach: Public blogs are
                accessible to anyone with an internet connection, making them
                ideal for reaching a wide audience. Bloggers who want to share
                their ideas, expertise, or creative work with the world often
                choose to make their blogs public. Building an Online Presence:
                Public blogs can help individuals or businesses build an online
                presence, establish credibility, and attract followers or
                customers. By publishing content publicly, bloggers can showcase
                their knowledge, skills, or interests to a global audience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container contact" id="contact">
      <div class="contact-container">
        <div class="main-title">
          <h2>Contact <span>Us</span><span class="bg-text">Contact</span></h2>
        </div>
        <div class="contact-content-con">
          <div class="left-contact">
            <h4>Contact us here</h4>
            <p>
              Embark on a journey through the corridors of thought, where
              curiosity is nourished and imagination thrives.
            </p>
            <div class="contact-info">
              <div class="contact-item">
                <div class="icon">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>Location</span>
                </div>
                <p>: Tunis, Tunsie</p>
              </div>
              <div class="contact-item">
                <div class="icon">
                  <i class="fas fa-envelope"></i>
                  <span>Email</span>
                </div>
                <p>
                  <br />
                  <span>brainwavesblog&#64;gmail.com</span>
                </p>
              </div>
              <div class="contact-item">
                <div class="icon">
                  <i class="fas fa-user-graduate"></i>
                  <span>Mobile Number</span>
                </div>
                <p>
                  <br />

                  <span>: +33 22 66 55 224 190</span>
                </p>
              </div>
            </div>
            <div class="contact-icons">
              <div class="contact-icon">
                <a href="www.facebook.com" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="right-contact">
            <form action="" class="contact-form">
              <div class="input-control i-c-2">
                <input type="text" required placeholder="YOUR NAME" />
                <input type="email" required placeholder="YOUR EMAIL" />
              </div>
              <div class="input-control">
                <input type="text" required placeholder="ENTER SUBJECT" />
              </div>
              <div class="input-control">
                <textarea
                  name=""
                  id=""
                  cols="15"
                  rows="8"
                  placeholder="Message Here..."
                ></textarea>
              </div>
              <div class="submit-btn">
                <a href="#" class="main-btn">
                  <span class="btn-text">Submit</span>
                  <span class="btn-icon"><i class="fas fa-user"></i></span>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div #buttons class="controls">
    <div class="control active-btn" data-id="home">
      <i class="fas fa-home"></i>
    </div>
    <a href="#/login" class="control" data-id="about">
      <i class="fas fa-user"></i>
    </a>
    <div class="control" data-id="portfolio">
      <i class="fas fa-briefcase"></i>
    </div>
    <div class="control" data-id="blogs">
      <i class="far fa-newspaper"></i>
    </div>
    <div class="control" data-id="contact">
      <i class="fas fa-envelope-open"></i>
    </div>
  </div>
  <div class="theme-btn" (onSubmit)="toggleTheme()">
    <i class="fas fa-adjust"></i>
  </div>
</body>
